body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative; 
    object-fit: cover;
    background:url("https://images.squarespace-cdn.com/content/v1/54be6dbbe4b0ab9f360b79fa/1624736915285-EA9GFFLL1XASOK15R0R6/KOP01257.jpg?format=2500w")no-repeat center center/cover;
}
nav > .logo{
    width: 80px;
    border-radius: 50%;
}
nav {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
    box-sizing: border-box;
    z-index: 10;
    -webkit-box-shadow: 0 1rem 1rem rgba(236, 197, 201, 0.9);
          box-shadow: 0 1rem 1rem rgb(233, 176, 182, 0.9);
}
#profile-icon{
    color: white;
}
#profile-icon:hover{
    color: rgb(239, 79, 95);
}
.menu-button{
    display: none;
}
#span-icon{
    display: none;
}
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;  
}
#home-line{
    border-bottom: 2px solid white;
}

.menu-item {
    color: white;
    font-weight: 600;
    font-size: 17px;
    margin-right: 24px;
    cursor: pointer;
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.menu-item:hover{
    color: rgb(239, 79, 95);
}
nav .menu-item .line{
    border-bottom: white;
    margin-left: 20%;
}
.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10vh;
    align-items: center;
    color: white;
}
.head h1{
    font-size: 8rem;
}
.head h3{
    font-size: 4rem;
}
/**/
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
}
  
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    font-weight: bold;
    text-align: center;
    margin-top: -15%;
}
#myNav > #logo{
    width: 80px;
    margin-top: 3%;
    margin-left: 5%;
}
  
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 50px;
    color: black;
    display: block;
    transition: 0.3s;
}
  
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
/* categories */
.stars{
    display: inline;
}
.stars i:hover{
    color: rgb(239, 79, 95); ;
}
.top-restaurants {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white

  }
  
  .cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
  }
  
  .card {
    margin: 40px;
    position: relative;
    max-width: 300px;
    max-height: 350px;
    box-shadow: 0 40px 60px -6px rgb(228, 38, 57);
    border-radius: 20px;
    background-color: rgb(239, 79, 95);
    margin-bottom: 10%;
  }
  .card:hover {
    transform: scale(1.2);
    z-index: 3;
}
  
  .card-title {
    display: block;
    text-align: center;
    color: #fff;
    background-color: rgb(239, 79, 95);
    padding: 4%; 
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    
  }
  
  .card img {
    width: 100%;
    height: 98%;
    object-fit: cover;
    display: block;
    position: relative;
    
  }
  .top-restaurants h1{
    font-size: 3rem;
    color: rgb(239, 79, 95);
    margin: 40px 0 20px 0;
    text-align: center;
  }

/* footer */
.first img{
    width: 128px;
    height: 32px;
}
.section{
    padding: 40px 120px;
    background-color: rgb(244, 244, 253);
}
.first{
    display: flex;
    justify-content: space-between;
}
.first-1{
    display: ;
}
@media (max-width: 850px) {
    .overlay a {font-size: 40px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
}
}

@media only screen and (max-width: 900px){
    .head h1{
        font-size: 5rem;
    }
    .dropdown-wrapper:hover .dropdown{
        display: none;
    }
    .head h3{
        font-size: 2rem;
    }
    #span-icon{
        display: block;
        color: white;
        margin-left: 0%;
    }
    #profile-icon{
        display: none;
    }
    .menu-item {
        display: none;
    }
    #menu-btn {
        display: inline-block;
    }
    .card{
        max-width: 250px;
        max-height: 300px;
        margin-bottom: 15%;
    }
    

}